/* .formContainer {
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--white);
}

@media (max-width: 575px) {
  .formContainer {
    padding: 1rem;
  }
} */