
:root {
  --primary-color: #2a52be;
  --secondary-color: #6b7280;
  --success-color: #15803d;
  --error-color: #dc2626;
  --white: #ffffff;
  --black: #000000;
  --gray: #9ca3af;
  --global-bg:#663399;
}